[Unit]
Description=RTSP Camera Recorder Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/varun/camera_service/recorder.py
User=varun
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
